
/* Generics */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Rubik Mono One', sans-serif;;
}

html{
    overflow-y: hidden;
}

section{
    height: 100vh;
}

ul{
    list-style-type: none;
    display: flex;
}

a{
    text-decoration: none;
    color: black;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border-radius: 50%;
    margin: 30px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

nav{
    position: fixed;
    top: 0;
    right: 0;
}

/* Sections */
.bg-red{
    background-color: red;
    color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-green{
    background-color: green;
    color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-yellow{
    background-color: yellow;
    color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Shoes */

.blue-shoes{
    min-height: 500px;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    text-align: center;

}

.blue-shoes img{
    height: 50%;
}

.white-shoes{
    min-height: 500px;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    text-align: center;

}

.white-shoes img{
    height: 50%;
}

.green-shoes{
    min-height: 500px;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    text-align: center;

}

.green-shoes img{
    height: 50%;
}